.top {
    position: relative;
    height: 100vh;
    color: #fff;

    .top__bgImage {
        position: absolute;
        width: 100%;
        min-height: 100vh;

        .bgImage__img {
            width: 100%;
            max-width: 100%;
            height: 100vh;
            object-fit: cover;

        }
    }

    .header__menuAndLog {
        position: absolute;
        z-index: 200;
        right: 0;
        left: 0;
        top: 20px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        
            position: relative;
            /* =========== Logo =========== */
            .menuAndLog__log {
                width: clamp(115px, 4vw, 155px);
                img{
                    width: 100%;
                }
            }


            /* ======= teserve ja ======= */
            .menuAndLog--reserve-ja{
                text-align: center;
                margin-top: 25px;
                background-color: var(--color-yellow);
                padding: 15px 20px;
                height: 50px;
                width: 130px;
                border-radius: 10px;
            }

        
    
    }

    .top__content {
        max-width: 600px;
        position: absolute;
        top: 45vh;
        padding-right: 20px;
        text-align: start;

        p {
            color: white;
            font-size: clamp(15px, 3vw, 30px);
            span{
                font-size: clamp(30px,3vw, 50px);
                font-weight: bold;

            }
        }
        
    }


}