@keyframes OpenMenuBurguer {
    from {
        height: 0;
    }

    to {
        height: 50%;
    }
}

.openMenuBurguer{
    animation: OpenMenuBurguer 1s forwards;
}
@keyframes OpenLiMenuBurguer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.openLiMenuBurguer{
    animation: OpenLiMenuBurguer 1.4s forwards;
}